<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rainfall Prediction</title>
</head>
<body>
    <h1>Rainfall Prediction</h1>
    <br>
    <br>
    <form action="/submit" method="post">
        Temperature: <input type="number" name="temperature" required> <br> <br>
        Humidity: <input type="number" name="humidity" required> <br> <br>
        <input type="submit" value="submit">
    </form>
</body>
</html>